<section class="row">
  <article class="column">
    <h2>Übersichten</h2>
    <ul>
      <li>
        <a href="<%= Routes.linie_path(@conn, :index)%>">Linien</a>
      </li>
      <li>
        <a href="<%= Routes.haltestellen_path(@conn, :index)%>">Haltestellen</a>
      </li>
      <li>
        <a href="<%= Routes.stop_path(@conn, :index)%>">Stops</a>
      </li>
    </ul>
  </article>
</section>