<h1>Edit Linie</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.haltestellen_path(@conn, :update, @haltestelle)) %>

<span><%= link "Back", to: Routes.haltestellen_path(@conn, :index) %></span>
