<h1>Neue Haltestelle</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.haltestellen_path(@conn, :create)) %>

<span><%= link "Zurück", to: Routes.haltestellen_path(@conn, :index) %></span>