<h1>Linie</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @linie.name %>

  </li>
  <li>
    <strong>Haltestellen:</strong>
    |<%= for haltestelle <- @linie.haltestellen do %>
    <a href="<%= Routes.haltestellen_path(@conn, :show, haltestelle.id) %>"><%= haltestelle.name %></a> |
    <% end %>
  </li>

</ul>

<span><%= link "Bearbeiten", to: Routes.linie_path(@conn, :edit, @linie) %></span>
<span><%= link "Zurück", to: Routes.linie_path(@conn, :index) %></span>