<h1>Show Linie</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @linie.name %>

  </li>
  <li>
    <strong>Haltestellen:</strong>
    |<%= for haltestelle <- @linie.haltestellen do %>
    <%= haltestelle.name %> |
    <% end %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.linie_path(@conn, :edit, @linie) %></span>
<span><%= link "Back", to: Routes.linie_path(@conn, :index) %></span>